
.App{
  background-color: rgb(5, 17, 33);
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.logo-home{
  max-width: 350px;
  margin: 0 20px;
  align-self: center;
}
.logo-inicio{
  max-width: 340px;
  max-height: fit-content;
  object-fit: contain;
  margin: 10px 0;
}

.home-btns button{
  align-self: center;
  width: 300px;
  margin: 5px 0;
}
.publicar-cuento #asunto{
  width: 100%;
}
.publicar-cuento #autor{
  width: 100%;
}
.publicar-cuento #titulo{
  width: 100%;
}
.publicar-cuento textarea{
  width: 100%;
  height: 350px;
}
.navigation-btns{
  position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: -75px;
}
.lateral-1{
  width: 160px;
  height: 160px;
  border-radius: 50px;
  padding: 20px;
  text-align: start;
  border: solid 3px #031c35ec;
}
.lateral-2{
  width: 160px;
  height: 160px;
  border-radius: 50px;
  padding: 20px;
  text-align: end;
  border: solid 3px #031c35ec;
}
.centro{
  border: solid 3px #031c35ec;
  width: 150px;
  height: 150px;
  border-radius: 300px;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  text-align: center;
  padding: 15px;
}
.margin-nav{
  margin-bottom: 115px;
}
.img-nav{
  
  width: 50px;
  height: 50px;
}
.img-nav-centro{
  
  width: 85px;
  height: 75px;
}
.nav-selected{
  background-color: rgb(125, 125, 255)!important;
}
.nav-not{
  background-color: rgb(132, 200, 255);
}
.cuento-box{
  width: 350px;
  align-self: center;
  background-color: #ffffff;
  color: rgb(6, 23, 48);
  font-weight: 700!important;
  margin: 5px;
  padding: 15px;
  border-radius: 25px;
  font-size: 18px;
}
.cuento-info{
  color: rgb(19, 67, 122);
  font-weight: 600!important;
}
.menu-cuentos{
  max-width: 500px;
  min-width: 350px;
  margin-bottom: 5px;
}
.menu-cuentos div{
  width: 60px;
  background-color: rgb(182, 210, 250);
  border: solid 1px #4275a8;
  border-top: solid 2px #4275a8;
  border-bottom: solid 2px #4275a8;
  text-align: center;
  height: 60px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
}
.menu-img{
  width: 50px;
  height: 50px;
  align-self: center;
}
.caja-autor{
  background-color: #ffffff;
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
  width: 350px;
  color: #4275a8;
}
.caja-cuento{
  border-radius: 25px 25px 0 0;
  width: 350px;
  text-align: justify;
  background-color: #ffffff;
  color: black;
  padding: 10px;
  padding-top: 40px;
}
.caja-abajo-cuento{
  border-radius: 0 0 25px 25px;
  width: 350px;
  text-align: justify;
  background-color: #ffffff;
  color: black;
  padding: 10px;
}
.caja-cerrar-cuento{
  width: 350px;
  height: 0px;
  z-index:1000;
}
.cerrar-config{
  height: 0px;
  z-index:1000;
}
.cerrar-config button{
  margin: 8px;
  font-size: 20px;
}
.caja-cerrar-cuento button{
  margin: 8px;
  font-size: 20px;
}
.img-azar{
  width: 35px;
  margin: 5px;
  height: 35px;
  z-index:1000;
  align-self: baseline;
}
.azar{
  margin: 6px;
  width: 35px;
  height: 35px;
  z-index:1000;
}
.config-box{
  width: 320px;
  align-self: center;
  background-color: #ffffff;
  color: rgb(6, 23, 48);
  font-weight: 700!important;
  padding: 15px;
  border-radius: 25px;
  font-size: 18px;
}
.mios-box{
  background-color: #e8f4ff;
  margin: 10px 0;
  border-radius: 25px;
  padding: 10px;
  border: solid 2px #2a4f75;
}
.btn-config{
  margin-top: 10px;
  width: 139px;
  background-color: rgb(182, 210, 250);
  border: solid 1px #4275a8;
  border-top: solid 2px #4275a8;
  border-bottom: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.btn-login{
  animation: ronda 2s;
}

@keyframes ronda {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.users-box{
  width: 300px;
  align-self: center;
  margin: 2px!important;
  padding: 5px 10px!important;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.838)!important;
}
.admin-box{
  width: 320px;
  align-self: center;
  background-color: #ffffff;
  color: rgb(6, 23, 48);
  font-weight: 700!important;
  padding: 15px;
  border-radius: 25px;
  font-size: 18px;
}
.btn-admin{
  width: 280px;
  background-color: rgb(137, 177, 233);
  border: solid 1px #4275a8;
  border-top: solid 2px #4275a8;
  border-bottom: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.btn-cambiar{
  width: 280px;
  margin-top: 10px;
  background-color: rgb(149, 255, 179);
  border: solid 1px #3da278;
  border-top: solid 2px #42a886;
  border-bottom: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.btn-eliminar{
  width: 280px;
  margin-top: 10px;
  background-color: rgb(255, 187, 187);
  border: solid 1px #a23d3d;
  border-top: solid 2px #a84242;
  border-bottom: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.home-btns{
  align-self: center;
  margin-top: 20px;
}
.home-btns button{
  width: 280px;
  margin: 15px 5px;
  background-color: rgb(137, 184, 250);
  border: solid 1px #bad1fc;
  border-top: solid 2px #b4c6e6;
  border-bottom: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
}
.btn-publicar{
  background-color: rgb(182, 210, 250);
  border: solid 1px #4275a8;
  border-top: solid 2px #4275a8;
  width: 280px;
  margin-top: 10px;
  border-bottom: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}